
<body>
  <div class="wrapper" *ngFor="let item of list " style="display: inline-block">
    <a (click)="movieclicked(item.id)">
      <div class="card">
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}" alt="{{item.original_title}}">
        <div class="descriptions">
          <h1> {{item.original_title}}</h1>
          <li class="star">{{ item.vote_average}}</li>
          <p> {{item.overview}}</p>
        </div>
      </div>
    </a>
    
  </div>
  <div class="counter">
    <button class="paginate left" id="left" (click)="leftclick()"><i></i><i></i></button>
    <button class="paginate right" id="right" (click)="rightclick()"><i></i><i></i></button>
  </div>
  
</body>
